FunnyBackground.jpg
/Sound teacher/ToDo.txt
/.vs/Sound teacher/v15/Server/sqlite3
/.vs/Sound teacher/v15/sqlite3/storage.ide-shm
/.vs/Sound teacher/v15/sqlite3/storage.ide-wal
/.vs/Sound teacher/v15/sqlite3/db.lock
